<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: library">
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>
<h1 style="margin-left: 200px;margin-right: 200px;margin-top:45px;">Ürünler</h1>
<hr style="margin-left: 200px;margin-right: 200px;">
<div th:replace="product :: product"></div>
</body>
</head>
</html>