<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: library">
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/sidebar :: sidebar"></div>
<h1 style="margin-left: 200px;margin-right: 200px;margin-top:45px;">Ürün Detayı</h1>
<hr style="margin-left: 200px;margin-right: 200px;">
<div class="card-group" style="margin-left: 200px;margin-right: 200px;margin-top:45px;">
    <div class="col-md-4" style="margin-bottom: 75px">
        <div class="card">
            <img class="card-img-top" th:src="'/images/'+${productDetail.image.fileName}" style="object-fit: fill; width: auto;height: 250px;" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" th:text="${productDetail.name}"></h5>
                <p class="card-text" th:text="${productDetail.description}"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="'Fiyat : '+${productDetail.price}+' TL'"></li>
                <li class="list-group-item" th:text="'Kategori : '+${productDetail.category}"></li>
                <li class="list-group-item" th:text="'Adet : '+${productDetail.piece}"></li>
            </ul>
            <div class="card-body"> <!---->
                <a th:classappend="${#authorization.expression('hasAnyAuthority(''USER'')')} ? '' : 'disabled'" th:href="@{/cart/add(id=${productDetail.id})}" class="btn btn-primary" style="margin:25px;">Sepete ekle</a>
            </div>
        </div>
    </div>
</div>
</body>
</head>
</html>
